h1
{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 5em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 160px;
    left: 80px;
}
img
{
    border-radius: 5%;
}
#MeText
{
    display:inline-block;
    width: 700px;
    box-shadow:4px 4px 12px black;
    background: linear-gradient(35.32deg,white, #c7c5c5);;
}
#topic1
{
    font-family: Microsoft JhengHei;
    font-size: 180%;
    line-height: 200%;
    font-weight: bold;
    color: black;
}
#topic2
{
    font-family:Microsoft JhengHei;
    font-size: 180%;
    line-height: 240%;
    font-weight: bold;
    color: black;
}
#text1
{
    font-family: Microsoft YaHei;
    font-size: 130%;
    line-height: 150%;
    color: black;
}
#text2
{
    font-family: Microsoft YaHei;
    font-size: 130%;
    line-height: 150%;
    color: black;
}
#topic
{
    background-image: url('images/aboutmetitle.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#icon0:hover
{
    color: rgb(59, 163, 189);
}
#icon0
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 80px;
}
#icon1:hover
{
    color: rgb(59, 163, 189);
}
#icon1
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 425px;
}
#icon2:hover
{
    color: rgb(59, 163, 189);
}
#icon2
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 425px;
}
#icon3:hover
{
    color: rgb(59, 163, 189);
}
#icon3
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 80px;
}