h1
{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 5em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 160px;
    left: 80px;
}
#topic
{
    background-image: url('images/hometitle.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#icon0:hover
{
    color: rgb(59, 163, 189);
}
#icon0
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 80px;
}
#icon1:hover
{
    color: rgb(59, 163, 189);
}
#icon1
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 425px;
}
#icon2:hover
{
    color: rgb(59, 163, 189);
}
#icon2
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 425px;
}
#icon3:hover
{
    color: rgb(59, 163, 189);
}
#icon3
{
    color: rgb(121, 217, 255);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    right: 80px;
}
p{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 2em;
    position: absolute;
    left: 160px;
    top: 600px;
}
