<!DOCTYPE html>
<html>

<head>
    <title>About Me啦啦啦</title>
    <link rel=stylesheet type="text/css" href="static\About_me_css.css">
</head>

<body>
    <div id="topic" style="height: 426.3px;">
        <h1>About Me~</h1>
    </div>
    <div>
        <a href= "{{ url_for('hello') }}" style="text-decoration:none;" id="icon0">Home</a>
        <a href= "{{ url_for('hello2') }}" style="text-decoration:none;" id="icon1">About Me</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration:none;" id="icon2">Little Surprise</a>
        <a href="{{ url_for('hello3') }}" id="icon3" style="text-decoration:none;" >My GitHub</a>
        <!---<img src="templates\textbackground2.jpg" style="position:absolute;left:500px;top:100px;">--->
        <img src="https://lh3.googleusercontent.com/tVcaurFFTlLnjizjlfkDSEZQaC4hJ3hD4SYEFLu_Tic6mic8w9cfbQiQNKc0BOrCxJ7TzveMURNSiMmAUJSoVr_IkRv0ikC5qTS3CQ36ztznSV89CqGWtys-plAFqfOkyZdX1GpX3VhyWDIcFC9m4vnH9rCPPsFniYf10Mn4Xtn2ZZ1rLWA6ZbZJIKQMyH4ZWy0h-ukNsPVefRy0Z1cZfrZOMF8PbIMSFyxjc5EJqVhMuMnxBRKv_fDvQkrqyVk7n5YwsSTfPiz-X1AVXVju-_Ugaq6fQt4v61df-x8KTo2w4qY_xRh04S00agUun7XHwjAY-VbJyAglmAdj17EM5jlYL8jqeSFEeHU0lRm1UwrhfJR7AQnaToywGYXUQKTdCH7jmX1rJ4DEDuqm_khAI6IhI34B0JnN1xv1XkQn-gdXFnkTpM3c8EB5sYzOQ86dK1PJs3_s6cp4NazRuQIrA_d8TiIy-loAy5SuT5LN0cFympqkQZK1vklOORTcT2Wd6TDUIoHSf8h2ZWl8Cvm0Q8Ck5FA8AuvCVyEsw0VR61vjp1FLeA4HHeEeKH7yDWGmQRFvswz-1dqX7tDslHKJo47DbYovlTqa__XWAywkg447vvIv_h4htiVfhCcaAB5Cr_6LuSf0JhIc_-3QzgKD1igNVSvrxq9NVZRy0-jya_M0ioR5PzHBZhs4oVHInwJ5vrHivWYC3XQBPOTXP1A2r2M=w469-h625-no?authuser=1" width="360px" height="480px" style="position:absolute;left:19%;top:71%;">
        <div id="MeText" style="position:absolute;left:43%;top:70%;">
            <p id="topic1" style="margin: 4px;">自傳</p>
            <p id="text1" style="margin: 4px;">哩賀，我叫常洧(ㄨㄟˇ)丞，是個十六歲的高二屁孩。自認為是個卡在nerd跟outgoing person間的人，喜歡窩在電腦前寫程式跟在沙發或床上發懶一整天，但我也很尬意運動還有跟朋友到處亂滾。性格應該還算圓滑也很chill，只是幹話多，至少不是個邊緣人。不喜歡火鍋加芋頭、披薩加鳳梨、炒飯加chili jam，喜歡上述三者的人請不要進入我方圓十里(just kidding)，in conclusion, it's nice to meet you~<br></p>
            <p id="topic2" style="margin: 4px;"><br>照片典故</p>
            <p id="text2" style="margin: 4px;">高一時英文報告要求放一張個人照，但因為本人不怎麼喜歡拍照，所以相簿裡一張都沒有，就請一個攝影社的同學幫我，我問他有沒有什麼專業建議，他說我臉太大，站側身比較好(超欠扁)，所以就有這張賭爛的90度側身照</p>
        </div>
        <img src="https://lh3.googleusercontent.com/i_YRsm18ihpTrGrzLpobgfsEnEt_-x_tP4TTAnIArRx5s4hWkNImWP4XxKtVau1s8yqGLAJsEzhqbTbYtxUY0kCI9xxbjpfbBZa7kGzCVoTZmkDSg4sCW13ky_-bbHDpneVvN0M8ovX7UzHIVibXeFmhB4KNcWA55imvyTP4I3Gw5YdUHXNK8P9wkWgoON_RmARfwmraIJFJUXzD928KznueCNdGP3HSHKRM4gvw2qHRZzmEp5Wf23Ycw955Ky24Z6gHZcOh32t_ENxmBjdBT8ZqMnzGXFccv3zNrXfplPVvuH_QnBv9wJBiTsuQxqS1eGKLkpkCEA-0WyBO4EKcWO8KwFhFDWwWK4uGKY5jpWRvoTO_JRZkyRUnj-MU0kRV50kyMn4vVLTucSZxtMOH4FELaf8z4wrDZKSM5xKHRy33HRZnBWKn1JtecWKJNPyDF0YD4OSJb665jCGcQRJrBv25Yh21nc1FTMPCSoD36dwpOyXTgR5XJ0y74gfto8W_2G5bV87-hhuAQY-p-eTKhOPbnyCQgnm6pd6N32k_vwi57yeAXcUwjcFX4hAU2Iy8rUeKmK-MCL4IFkwR0wLxYucY9pK4-cfCzQM_2Zt_x73lnC5qt--1S2u7DsUVADLZNBvrYazooo1u6Ds4mV7T_ezAQYLxQIwNAYLlGN6glnMoc-O6XDJU1O_C0H5LAqOXUAX2hR5P80tbP-rRg7O3oIA=w1006-h566-no?authuser=1" style="height: 150px;width:288px;position: absolute;left: 41%;top:150%">
    </div>
</body>

</html>