<!DOCTYPE html>
<html>

<!DOCTYPE html>
<head>
    <title>Weber Chang 啦啦啦</Title>
    <link rel=stylesheet type="text/css" href="static\richardo.css">
</head>

<body>
    <div id="topic" style="height: 500px;">
        <h1>Weber Chang's Website</h1>
    </div>
    <div id="content">
        <a href= "{{ url_for('hello') }}" style="text-decoration:none;" id="icon0">Home</a>
        <a href= "{{ url_for('hello2') }}" style="text-decoration:none;" id="icon1">About Me</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration:none;" id="icon2">Little Surprise</a>
        <a href="{{ url_for('hello3') }}" id="icon3" style="text-decoration:none;" >My GitHub</a>
        <p>This is a simple website about myself.<br> It is also connected to my GitHub and one little surprise.</p>
        <img src="{{ url_for('static', filename='images/home.png') }}" style="height: 100px;width:192px;position: absolute;left: 660px;top:770px">
    </div>
</body>

</html>